body{
	margin:0;
}
.header {
    background: #222;
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 138px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;
}

.logoimg {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: -34px;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
img {
    vertical-align: middle; 
    border: 0;
    width:78px;
    height:68px;
}
.logotxt {
    margin-bottom: 30px;
    border: 0;
}
.logotxt h1 a{
	font-size:60px;
	color:white;
	font-weight: bold;
}
.logotxt h1{
   margin-top: 20px;
   margin-left: 20px;
}

.header h2 {
    color: #fff;
    padding: 0;
    margin: 0 0 45px;
    font-weight: 100;
    font-size: 34px;
}

.site-name>span {
    display: none;
    margin-top: 6px;
    font-size: 65%;
}

.main{
	margin-top: 90px;
}
.post{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.post-title {
    position: absolute;
    font-size: 24px;
    z-index: 9;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
}
.tag-ad .post-featured-image {
    padding-top: 62.5%;
     position: relative;
    overflow: hidden;
}
.post-featured-image .thumbnail {
	width: 100%;
    margin-bottom: 0;
    padding: 12px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}
.post-featured-image .thumbnail img{
    width:100%;
    height:100%;
}
.post img {
    display: block;
    max-width: 100%;
    height: auto;
}
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
}
.post-title a {
    color: #777;
}
.post-title a:hover{
    color:black;
}

.pagination {
    display: block;
    position: relative;
    text-align: center;
    color: #666;
    font-size: 13px;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination .page-number {
    color: #39414a;
}
.pagination>a {
    border: 1px solid #39414a;
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 10px;
    color: #39414a;
    white-space: nowrap;
    border-radius: 3px;
    text-decoration: none;
}

.pagination>a:hover{
    background:#39414a;
    color:white;
}

.submit-site {
    background-color: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
}

.submit  p{ 
font:15px/1em "宋体";
}

.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
}

.widget {
    margin-bottom: 35px;
    padding: 0 30px;
}

.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
    color: #fff;
    border-bottom: 1px solid #303030;
}

.main-footer .widget .tag-cloud a:hover {
    border: 1px solid #337ab7;
}
.main-footer .widget .tag-cloud a {
    border: 1px solid #303030;
}
.widget .tag-cloud a:hover {
    color: #fff;
    background: #337ab7;
    border: 1px solid #337ab7;
    text-decoration: none;
}
.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    transition: all .2s ease;
}

.widget .friend-links a {
    display: block;
    border-bottom: 1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: #959595;
    transition: all .2s ease;
}
.widget .friend-links a:hover{
    color:white;
    text-decoration: none;
}
.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
}
.copyright a {
    color: #555;
}